extends layout.pug

block bgimage
  div(style="text-align: right")
    img#bg(src="https://achievement-images.teamtreehouse.com/javascript-loops-stage3.png", alt="")
block content 
    nav.grid-container.portfolio-breadcrumb
      a(href='/') ← Back
    article.grid-container.portfolio-intro.portfolio-project
      .grid-x
        .cell.small-6.medium-9.large-9
          h1=`${display.project_name}`
          p.lead.text-light=`${display.description}`
        .cell.portfolio-meta.small-6.medium-2.large-3
          h6 Technologies
          ul
            each val in display.technologies
              li= `${val}`
          a.button.expanded(href=`${display.live_link}` target="_blank")
            img(src="../static/images/live.png",style='width: 25px;')
            | Live Demo
          a.button.expanded(href=`${display.github_link}` target="_blank")
            i.fa(style='font-size:20px;color:#6e5494') &#xf09b;
            | GitHub Repo
      img.image(src=`${display.image_urls[2]}`)
      img.image(src=`${display.image_urls[3]}`)
      img.image(src=`${display.image_urls[4]}`)
